.todoItem__layout--style {
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #E7F5FB;
  padding: 10px;
  margin-bottom: 1rem;
}

.todoItem__label--style {
  width: 63%;
  color: black;
  font-weight: 600;
  display:flex;
  align-items: center;
}

.strikethrough {
  text-decoration:line-through;
}

.todoItem__editButton--style {
  min-width: 50px;
  background-color: #E7F5FB;
  border: none;
}

.todoItem__editButton--style img {
  max-height: 2rem;
  background-color: white;
  color: white;
}

.todoItem__deleteButton--style {
  min-width: 50px;
  background-color: #E7F5FB;
  border: none;
}

/*Non-mobile screens*/
@media only screen and (min-width: 480px) {
  .todoItem__label--style {
    width: 75%;
  }
}
