
.addtodo__layout--style {
    display: grid;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "addTo-label . ."
        "addTo-input addTo-input addTo-button";
    margin: 5px 5px 20px 5px;
}

.addtodo__label--style {
    grid-area: addTo-label;    
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
}

.addtodo__input--style {
    grid-area: addTo-input;   
}


.addtodo__button--container {
    grid-area: addTo-button;
    text-align: right;
}

.addtodo__button--style {
    width: 5.5rem;
    font-weight: 900;
    color: #5B7A87;
    background-color: white;
    border: none;
}

.addtodo__button--style:hover {
    background-color: #E7F5FB;
    color:black;
}

/*Non-mobile screens*/
@media only screen and (min-width: 510px) {
    .addtodo__layout--style {
        margin: 20px 0;
        grid-template-columns: 1fr 1.4fr 2fr;
        grid-template-areas:
            "addTo-label addTo-input addTo-button";
    }
} 
