
.App {
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-areas: 
    "todoApp todoApp todoApp";
  background-color: rgb(252, 249, 249);
}

#content {
  grid-area: todoApp;
}

.header--title__style {
  text-align: center;
}

header {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

/*Tablet screens*/
@media only screen and (min-width: 480px) {

}

/*Desktop screens*/
@media only screen and (min-width: 1025px) {
  .App {
    grid-template-areas: 
      ". todoApp .";
  }
}
